.container
  .row
    .page-header
      %h1.title Nations
      =# render "shared/filter"
      = link_to "New Nation", new_nation_path
  .row
    .content
      %table.table
        %thead
          %tr
            %th Abbr
            %th ISO
            %th Name
            %th Postal
            %th Lang
            %th Cash
            %th
        %tbody
          - for nation in @nations
            %tr
              %td
                =# image_tag nation.flag.nano if nation.flag?
                = nation.abbr
              %td= nation.code
              %td
                = nation.name
                = link_to nation.slug, nation
              %td= nation.zip
              %td= truncate(nation.lang)
              %td= nation.cash
              %td.last
                =# link_to "Destroy!", nation_path(nation), :method => :delete
                = link_to "Edit", edit_nation_path(nation)
  .row
    = link_to 'Voltar', root_path