.container
  .row
    .page-header
      %h1= @city.new_record? ? "Nova Cidade" : "Editando Cidade"
  .container_16
    .box.secondary.shadow
      = form_for(@city, :html => {:class => "form"}) do |f|
        - f.object.errors.each do |err|
          = err
        .grid_3
          =# hidden_field_tag 'city_geom_xy', @city.ll, :name => "city[xy]", :class => "geom_xy"
          =# hidden_field_tag 'city_geom_y', @city.y, :name => "city[y]", :class => "geom_y"
          =# hidden_field_tag 'city_geom_z', @city.z, :name => "city[z]", :class => "geom_z"

          .forms_btns
            .citydata
              .field{"data-role" => "fieldcontain"}
                = f.label :region
                = f.select :region_id, @regions
              .group
                = f.label :name
                = f.text_field :name, :size => 30
              .group
                = f.label :slug
                = f.text_field :slug, :size => 30
              .field
                = f.label :pop
                = f.text_field :pop, :size => 30
              = f.submit
        .grid_8
          #map=# gmaps(@map, false, false)
