-#= js "places"
-# #rt-utility
-# .inner
-#  - if @markers
-#    = gmaps({"markers" => { "data" => @markers, "options" => { "marker_picture" => "foo", "marker_width" => 22, "marker_length" => 32 }}}, false, false)
.block
  .top
    %h2 Cidades
    %table{:class => :table}
      %thead
        %tr
          %th{:sort => 'name'} Nome
          %th{:sort => 'region'} Region
          %th{:sort => 'nation', :colspan => 2} Pais
      %tbody
        - for city in @cities
          %tr{:class => cycle('par','impar')}
            %td
              = city.name
              = link_to city.slug , city
            %td= city.region.name if city.region
            %td= city.nation.name
            %td{:align => 'right'}
              = link_to 'Edit', edit_city_path(city)
              = link_to 'Destroy', city, :confirm => 'Destroy city?', :method => :delete

    .inner
      .actions-bar
        .actions
        .pagination= paginate @cities
  = link_to 'Voltar', "/", :class => 'icon back'
