.container
  .row
    %h1= @city.name
  .row
    %p
      %b Slug:
      = @city.slug
    %p
      %b Nation:
      = @city.nation
    %p
      %b Region:
      = @city.region
  .row
    = link_to 'Edit', edit_city_path(@city)
    |
    = link_to 'Back', city_path
