.container
  .row
    .page-header
      %h1.title Regions
      =# render "shared/filter"
      = link_to "New Regions", new_region_path
  .row
    .content
      %table.table
        %thead
          %tr
            %th Abbr
            %th Name
            %th Country
            %th Cities
            %th
        %tbody
          - for region in @regions
            %tr
              %td
                = region.abbr
              %td
                = region.name
                = link_to region.slug, region
              %td= region.nation.try(:name)
              %td= region.cities.count
              %td.last
                =# link_to "Destroy!", nation_path(nation), :method => :delete
                = link_to  'Edit', edit_region_path(region)
  .row
    = link_to 'Back', root_path