.container
  .row
    %h1= @region.name
  .row
    %p
      %b Slug:
      = @region.slug
    %p
      %b Nation:
      = link_to @region.nation, @region.nation
    %p
      %b Sigla:
      = @region.abbr
  .row
    = link_to 'Edit', edit_region_path(@region)
    |
    = link_to 'Back', regions_path
