.container
  .row
    .page-header
      %h1= @zone.new_record? ? "New Zone" : "Editing '#{@zone}'"
  .row

    = form_for(@zone) do |f|
      =# f.error_messages
      .form-group
        = f.label :name
        = f.text_field :name
      .form-group
        = f.label :abbr
        = f.text_field :abbr
      .form-group
        = f.label :slug
        = f.text_field :slug
      .form-group
        = f.label :kind
        = f.text_field :kind
      .forms-buttons
        = f.submit
