.container
  .row
    %h1= @zone.name
  .row
    %p
      %b Slug:
      = @zone.slug
    %p
      %b Kind:
      = @zone.kind
    %p
      %b Abbr:
      = @zone.abbr
    %p
      %b Members:
      - @zone.members.each do |member|
        = member
  .row
    = link_to 'Edit', edit_zone_path(@zone)
    |
    = link_to 'Back', zones_path
